# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
.env
.venv/
.envrc

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Local data and artifacts
data/
artifacts/

# DVC will manage its own .gitignore files inside data/
