# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
.env
.venv/
.envrc

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Datos y artefactos locales (no versionar en Git)
data/
artifacts/

# DVC (sí versionamos sus metadatos, NO ignores .dvc/)
# DVC ya pondrá .gitignore dentro de data/ si lo usas
